<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="kampfpanzerin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        <section name="monkey.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" /></startup><userSettings>
        <kampfpanzerin.Properties.Settings>
            <setting name="enableCamControls" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="enableStandardUniforms" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="enableLooping" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="devCommandPromptLocation" serializeAs="String">
                <value>C:\\Program Files (x86)\\Microsoft Visual Studio 12.0\\Common7\\Tools\\VsDevCmd.bat</value>
            </setting>
            <setting name="lastProjectLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="fullscreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lastBuildName" serializeAs="String">
                <value />
            </setting>
            <setting name="usePP" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="useSoundThread" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="useSyncTracker" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lastColour" serializeAs="String">
                <value>Thistle</value>
            </setting>
            <setting name="showLineNumbers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showToolBar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="snapBarEvents" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="gitAuthor" serializeAs="String">
                <value />
            </setting>
            <setting name="gitEmail" serializeAs="String">
                <value />
            </setting>
            <setting name="bbTeam" serializeAs="String">
                <value />
            </setting>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
        </kampfpanzerin.Properties.Settings>
        <monkey.Properties.Settings>
            <setting name="enableCamControls" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="enableStandardUniforms" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="enableLooping" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="devCommandPromptLocation" serializeAs="String">
                <value>C:\\Program Files (x86)\\Microsoft Visual Studio 12.0\\Common7\\Tools\\VsDevCmd.bat</value>
            </setting>
            <setting name="lastProjectLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="fullscreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lastBuildName" serializeAs="String">
                <value />
            </setting>
            <setting name="usePP" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="useSoundThread" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="use4klangEnv" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="useSyncTracker" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lastColour" serializeAs="String">
                <value>Thistle</value>
            </setting>
        </monkey.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="RestSharp" publicKeyToken="598062e77f915f75" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-106.6.9.0" newVersion="106.6.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
